@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

::selection {
    background: #658DA6;
    color: #FBF8F3;
}

/* CONTEÚDO */

body {
    font-size: 100%;
}

.main {
    font-family: 'Righteous';
    width: 100%;
    height: 100vh; 
    background-image: url(./image/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
   
.center-body {
    width: 65%;
    height: 70%;
    background-color: rgba(35, 35, 35, 0.95);
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s linear;
    border-radius: 25px;
    box-shadow: 4px 5px 4px rgba(35, 35, 35, 0.2);
}
   
.center-body h1 {
    font-family: 'Space Mono';
    font-size: 200px;
    color: #FBF8F3;
    letter-spacing: 25px;
    font-weight: 700;
    text-shadow: 10px 9px 3px #274E66;
    transition: all 1s linear;
}
   
.center-body h2 {
    color: #FBF8F3;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
}
   
.center-body p {
    color: #FBF8F3;
    font-weight: 400;
    text-align: center;
    margin: 10px auto;
    padding: 15px 30px;
    transition: all 0.5s linear;
}

.center-body a {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: #FBF8F3;
    background: #142F40;
    padding: 15px 30px;
    box-shadow: 5px 4px 15px -5px #122E40;
    border-radius: 40px;
    transition: all 0.5s ease-in;
}

/* EFEITOS HOVER */
   
.center-body:hover h1 {
    text-shadow: 9px 6px 3px #C1D0D9;
}

.center-body:hover p {
    background-color: #658DA6;
    border-radius: 5px;
}
   
.center-body:hover a {
    color: #2D5273;
    background: #FBF8F3;
}